<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript">
        var oa = document.createElement('script');
        oa.type = 'text/javascript'; oa.async = true;
        oa.src = '//{{oa_site_name}}.api.oneall.com/socialize/library.js'
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(oa, s)
    </script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% if login_failed %}
<div id="login_failed"> Login failed! Please try again. </div>
{% endif %}

<!-- The plugin will be embedded into this div //-->
<div id="oa_social_login_container"></div>

<script type="text/javascript">
    var _oneall = _oneall || [];
    _oneall.push(['social_login', 'set_callback_uri', window.location.href]);
    {% if providers %}
    _oneall.push(['social_login', 'set_providers', {{providers}}]);
    {% endif %}
    _oneall.push(['social_login', 'set_custom_css_uri', 'https://oneallcdn.com/css/api/socialize/themes/buildin/signup/large-v1.css']);
    _oneall.push(['social_login', 'set_grid_sizes', [1,]]);
    _oneall.push(['social_login', 'do_render_ui', 'oa_social_login_container']);
</script>
</body>
</html>